
.azeret-mono-font {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0%;
    padding: 0%;
}
body{
    background: rgb(255, 255, 255);
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* creating the banner */
.banner{
    width: 1350px;
    max-height: 652px;
    margin-top: 20px;
    margin-bottom: 10px;
    background: url(../assets/Hero-bg.png);
    
}
.banner-content  {
    width: 1020px;
    height:  630px;
    display: flex;
   flex-direction: column;
   justify-content: flex-start;
    align-items: center;
    margin-left: 180px;
}
.banner-image{
    align-self: center;
    margin: 30px;
}
.btn-content{
  background-color: rgb(13, 19, 33);
  border-radius: 8px;
  color: white;
  padding: 15px;
margin-top: 25px;
}
.dark1{
    color: rgb(13, 19, 33);
}
.dark2{
   color:  rgba(13, 19, 33, 0.7);
}
.banner-reason{
font-size: 38px;
font-weight: 830;
text-align: center;
margin: 26px;
}
.banner-detail{
    text-align: center;  
    margin: 26px;
}
/* creating the why web devolopment reason part */
#reason{
    display: flex;
    margin: 90px;
  align-items: center ;
    border-radius: 16px;
background: rgba(13, 19, 33, 0.02);
flex-direction: row;
}
.reason-detail{
 margin-left: 70px;
}
#reason .reason-detail .reason-text{
    text-align: center;
 margin-left: 60px;
 margin-right: 60px;
}
.reason-box{
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    margin: 40px ;
   display: flex;
   justify-content: space-around;
   align-items: center;
padding:30px ;
}
.reason-box1{
    
border-radius: 16px;
background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.reason-box-text h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.reason-box-text p{
    opacity: 0.7;
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.reason-box-text button{
    box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
padding: 8px;
background-color: white;
}
.reason-box-text{
 margin-right: 40%;
}
/* created some issue with the boxes so i just a new rule for the middle box */
.reason-text h3{
font-size: 22px;
font-weight: 800;
line-height: 27px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 20px;
}
.reason-text p{
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 20px;
    
}
#inspiration{
    margin: 90px;
    align-items: center ;
}
#inspiration iframe{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
    margin-left:18.5%;
    padding: 12px;
    width: 763px;
height: 390px;
}
